.home-container {
  margin-top: 50px;
  padding: 0 20px;
  padding-bottom: 50px;
  text-align: initial;
}

.message-box {
  padding: 16px !important;
  border-radius: 4px;
  background-color: #ddeaf8;
}

.recent-subs {
  border-radius: 4px;
  padding: 16px;
  border: 1px solid #c5c5c5;
  background-color: #fff;
}

.empty-list {
  color: #4f4f4f;
}

.delivery-method {
  color: rgba(0, 0, 0, 0.45);
  font-size: 0.8rem;
  margin: 0;
}
